<div class="card">
    <p-table #dt1 [value]="contacts" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10,15]"
      [globalFilterFields]="['firstname','lastname']">>
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search" />
        </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="firstname">First name <p-sortIcon field="firstname"></p-sortIcon></th>
            <th pSortableColumn="lastname">Last name<p-sortIcon field="lastname"></p-sortIcon></th>
            <th pSortableColumn="dateOfBirth">Date of birth<p-sortIcon field="dateOfBirth"></p-sortIcon></th>
            <th>Photo</th>
            <th>Edit</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-contact>
        <tr>
            <td>{{contact.firstname}}</td>
            <td>{{contact.lastname}}</td>
            <td>{{contact.dateOfBirth | date: 'MMM d, y'}}</td>
            <td><img [src]="contact.photo" width="100" class="p-shadow-4" /></td>
            <td><button pButton type="button" label="Edit" icon="pi pi-pencil" (click)="editContact(contact.id)"></button></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <button pButton type="button" label="Add new contact" icon="pi pi-pencil" (click)="addContact()"></button>
      </ng-template>
    </p-table>
  </div>
